.header {
    display: flex;
    align-items: center;
    padding: 1% 2%;
    width: 100%;
}
.header > div {
    flex-grow: 1;
}

.header-link {
    display: flex;
    justify-content: flex-end;

    text-align: right;

}

.header-link a {
    color: #97AAAD ;
    font-size: 16px;
    width: 100%;
    transition: font-weight .1s ease-in-out;
    /* transition: font-weight .1s;
    transition: color .1s; */
}

.header-link a:hover {
    color: white ;
    cursor: pointer;
    font-weight: 600;
    transition: font-weight .1s ease-in-out;
    /* font-weight: 500;
    transition: color .1s; */
}

.menu-hamburger {
    display: none;
}

@media (max-width:730px) {
    .header-link {
        display: none;
        
        width: 100%;
        height: 60vh;
        
        position: absolute;
        top: 100%;
        left: 0;

        flex-direction: column;
        /* background-color: #97AAAD; */
        color: white;
        background-color: #202020;
        padding-bottom: 5%;

        justify-content: space-around;
        text-align: center;
    }

    .header-link a {
        padding: 2% 0;
    }

    .menu-hamburger {
        display: block;
    }
}